@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:is(:hover, .hover *));

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-mont);
  --font-inter: var(--font-inter);
  --font-dm-sans: var(--font-dmSans);
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-primary-base: var(--primary-base);
  --color-primary-gray: var(--primary-gray);
  --color-secondary-gray: var(--secondary-gray);
  --color-primary-gray-200: var(--primary-gray-200);
  --color-primary-gray-300: var(--primary-gray-300);

  --color-border: var(--border);
}

:root {
  --primary: #ffffff;
  --background: #ffffff;
  --secondary: #f7f7f7;
  --primary-base: #181d27;
  --primary-gray: #22262f;
  --secondary-gray: #737475;
  --primary-gray-200: #94979c;
  --primary-gray-300: #eae9e9;
  --border: #e0e0e0;
}

.dark {
  --primary: #0a0a0a;
  --background: #0a0a0a;
  --secondary: #121212;
  --primary-base: #fafafa;
  --primary-gray: #d7d7d7;
  --primary-gray-200: #414651;
  --secondary-gray: #94979c;
  --primary-gray-300: #1f1f1f;
  --border: #ffffff1f;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}

html {
  scroll-behavior: smooth;
}

.loader {
  --color: #a5a5b0;
  --size: 70px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.loader span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.6s alternate infinite linear;
}

.loader span:nth-child(1) {
  animation-delay: 0ms;
}

.loader span:nth-child(2) {
  animation-delay: 200ms;
}

.loader span:nth-child(3) {
  animation-delay: 300ms;
}

.loader span:nth-child(4) {
  animation-delay: 400ms;
}

.loader span:nth-child(5) {
  animation-delay: 500ms;
}

.loader span:nth-child(6) {
  animation-delay: 600ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.3;
    transform: scale(0.5) rotate(5deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}
