@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:is(:hover, .hover *));

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-mont);
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-primary-base: var(--primary-base);
  --color-primary-gray: var(--primary-gray);
  --color-secondary-gray: var(--secondary-gray);
  --color-primary-gray-200: var(--primary-gray-200);
  --color-primary-gray-300: var(--primary-gray-300);

  --color-border: var(--border);
}

:root {
  --primary: #ffffff;
  --background: #ffffff;
  --secondary: #f7f7f7;
  --primary-base: #181d27;
  --primary-gray: #22262f;
  --secondary-gray: #737475;
  --primary-gray-200: #94979c;
  --primary-gray-300: #eae9e9;
  --border: #e0e0e0;
}

.dark {
  --primary: #0a0a0a;
  --background: #0a0a0a;
  --secondary: #121212;
  --primary-base: #fafafa;
  --primary-gray: #d7d7d7;
  --primary-gray-200: #414651;
  --secondary-gray: #94979c;
  --primary-gray-300: #1f1f1f;
  --border: #ffffff1f;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}

html {
  scroll-behavior: smooth;
}
